:root {
  --accent-color: #2196f3;
  --brand-color: #2196f3;
  --color-title: #212121;
  --button-static-color: #f5f4fa;
  /*TODO палитра цветов макета (текст, фон, выделение) */
}

/* *==================================================* */
body {
  background-color: #ffffff;
  color: #757575;
  font-family: 'Roboto', sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* *==================================================* */

/* * Header section * */
.logo {
  color: #000000;

  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
}
.logo > span {
  color: var(--brand-color);
}
/* site nav */
.site-nav .link {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

/* site contacts */
.site-contacts .link {
  color: #757575;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.site-contacts .link:hover,
.site-contacts .link:focus {
  color: var(--accent-color);
}

/* *=================================================* */

/* *Hero section* */
.hero {
  background-color: #2f303a;
}

.hero-title {
  color: #ffffff;

  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;
}

/* *Button* */
.button {
  border: none;
  color: #212121;
  font-family: inherit;
  background-color: var(--button-static-color);
}

.button:hover,
.button:focus {
  border: none;
  color: #ffffff;
  background-color: var(--accent-color);
}
/* *==================================================* */

/* *What are we doing section* */
.section-title {
  color: var(--color-title);
}
.section-title-item {
  color: var(--color-title);
}

/* *Our team section* */
.team {
  background-color: #f5f4fa;
}

.team-item {
  background-color: #ffffff;
}

/* *==================================================* */

/* *Footer section* */
.footer-section {
  background-color: #2f303a;
}
.footer-logo {
  color: #ffffff;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
}
.footer-logo > span {
  color: var(--brand-color);
}

.address {
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.footer-site-contacts .link {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

/* UNDONE Шрифти підключаємо одним посиланням (а не двома окремими), не забуваємо вибирати необхідну жирність (для raleway - 700, для roboto - 400, 500, 700, 900). На макеті є ще Oleo Script, але фактично його не використовуємо. */

/* UNDONE Всі кольори тексту та кольори фону виносимо у змінні. Навіть якщо колір поки що використовується один раз, не хвилюйтеся наш проект буде розростатися і їх будемо перевикористовувати, так що виносимо всі кольори в змінні. */

/* UNDONE Коли прописуєте css правила для елементів, не пишіть зайвого. Наприклад, сімейство шрифтів roboto досить раз задати для body, а далі тільки перезаписувати цю властивість за потребою (зокрема, для логотипу). При цьому зверніть увагу, що елементи форми (вас цікавлять на даному етапі кнопки) властивість font-family не успадковують за замовчуванням, тобто для них потрібно задати явно -- font-family: inherit. Також ви часто для всіх елементів прописуєте font-style:normal, але це дефолтне значення. Задавайте цю властивість лише тоді, коли її потрібно перевизначити. */
